body{
    font-family: 'Dela Gothic One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    padding: 0;
    margin: 0;
}
#nav-links{
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    position: relative;
    background-color: rgb(248, 246, 246);
    opacity: 0.5;
    
}

#nav-links a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(24, 24, 24);
    padding: 10px;
}
#nav-links a:hover{
    color: rgb(4, 182, 182) ;
}

main {
    width: 100%;
    height: 600px;
    background-image: url(/src/main/bg1.jpeg);
    /*opacity: 0.8;*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    top: -48px;
    display: flex;
   

}
#main-content{
    margin-top: 200px;
    padding: 10px;
    padding-left: 30px;
}

#main-content h2{
    font-size: 35px;
    font-weight: 300;
    
}
#main-content p{
    margin-top: 50px;
    font-size: 20px;
}

#social-icons{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 50px;
    gap: 30px;
    
}
#social-icons img {
    border-radius: 50%;
}
#about-me{
    margin-top: 10px;
}
#about-me div{
    
    display: flex;
  
}
#about-content{
    
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 80px;
    line-height: 2;
 
}
.heading-format{
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: black;
    font-size: 50px;
    border: 2px;
    box-shadow: 10px 10px 8px /*10px*/ #888888;

}
#about-me img{
    border-radius: 50%;
}

#skills{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(175, 244, 239));
    
    padding-top: 50px;
}

.heading-format:hover{
    text-shadow: 0 0 50px darkcyan;
}
.hover-white:hover{
    text-shadow: 0 0 50px rgb(0, 5, 6);
}
#software-eng{
    display: flex;
    text-align: center;
    gap: 10px;
}
#soft-skills{
    display: flex;
    text-align: center;
    gap: 10px;
    
}
#soft-skills img{
   padding-left: 20px;
}
/*.circle-border{
    border-radius: 50%;
}*/
#projects{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(175, 244, 239));
    padding-top: 50px;
    
}
#projects div{
    margin-bottom: 50px;
}
#projects div img{
    border-radius: 50px;
}
.project-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
#contact{
    width: 100%;
    background-image: url(/src/main/bg3.jpg);
    padding-top: 50px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}
#contact div{
    padding-left: 100px;
}
#contact div p{
    padding-left: 200px;
    font-size: 20px;
}
form{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    
}
input[type=text]{
    margin-left: 30px;
    border: 0;
    box-shadow: 0 0 30px 8px rgba(63, 62, 62, 0.06);
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-family:inherit;
    font-size: inherit;
}
input[type=email]{
    margin-left: 30px;
    border: 0;
    box-shadow: 0 0 30px 8px rgba(63, 62, 62, 0.06);
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-family:inherit;
    font-size: inherit;
}
textarea{
    margin-left: 15px;
    border: 0;
    box-shadow: 0 0 30px 8px rgba(63, 62, 62, 0.06);
    border-radius: 20px;
    width: 300px;
    font-family:inherit;
    font-size: inherit;
    resize: vertical;
    vertical-align: middle;
    height:100px;
    line-height:100px;
    
}
::placeholder{
    font-size: medium;
    text-align: center;
    position: relative;
    
}
.required::after {
    content: '  *';
    color: red;
  }
#button-format{
    margin-left: 10%;
}

#submit-button{
    width: 20%;
    font-family:inherit;
    font-size: inherit;
    border-radius: 10px;
    box-shadow: 10px 10px 8px /*10px*/ #888888;
    
}
footer{
    padding-top: 50px;
    background-color: #eaf2f2;
    
}
footer p{
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 0;
}

