<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portofolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:ital@1&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <!--Header section that contains navigation links-->
    <header>
        <!--Navigaion Links-->
        <div id="nav-links">
            <a href="#about-me">About me</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact me</a>
        </div>
    </header>
    <!--end of header section-->
    <!--main section-->
    <main>
        <section>
            <div id="main-content">
                <div>
                    <h2>Hi, I am Happy to have you here..</h2>
                    <p>I'm thrilled to have you here, exploring my journey through the lens of design and technology. This is where passion meets pixels, and where I transform ideas into interactive experiences. Feel free to browse through my work and get to know the mind behind the creations. Let's embark on this visual adventure together, where every click unveils a new story. Thank you for visiting, and I hope you find inspiration and enjoyment in what you discover here.</p>
                </div>
            </div>
            <!--social icons-->
            <div id="social-icons">
                <div>
                    <a href="#"><img src="/static/images/main/twitter.png" alt="twitter" width="30"></a>
                </div>
                <div>
                    <a href="https://linkedin.com/in/yosra-elkhalifa" target="_blank"><img src="/static/images/main/linkedin.jpg" alt="linkedin" width="30"></a>
                </div>
                <div>
                    <a href="https://github.com/Yosra-Elkhalifa" target="_blank"><img src="/static/images/main/github1.png" alt="github" width="30"></a>
                </div>
            </div>
            <!--end of social icons-->
        </section>
    </main>
    <!--end of main section-->
    <!--about me section-->
    <section id="about-me">
        <div>
            <img src="/static/images/main/about2.jpeg" alt="about-me" width="30%">
            <div id="about-content">
                <h1 class="heading-format">About me</h1>
                <p>With a background encompassing three dynamic years in the banking industry's <br> information technology department and five years of experience as a lecturer <br> in the computing faculty, I've cultivated a deep appreciation for the intersection <br> of technology and education. My journey has been driven by a passion for technology, <br> design, and the art of coaching. <br>  My portfolio is a reflection of my dedication to these core interests and my ongoing <br> commitment to personal and professional growth. I'm excited to share my journey <br> with you and explore the potential for collaboration</p>
            </div>
        </div>
    </section>

    <!--end of about me section-->
    <!--Skills section-->
    <section id="skills">
        <div>
            <div>
                <h1 class="heading-format">Software Engineering Skills</h1>
            </div>
            <div id="software-eng">
                <div id="soft-skill-two">
                    <iframe class= "circle-border" src="https://giphy.com/embed/qgQUggAC3Pfv687qPC" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <h2>Testing</h2>
                    <p>I have effectively managed both User Acceptance Testing (UAT) and System Integration Testing (SIT) within core banking system project</p>
                </div>
                <div id="soft-skill-three">
                    <iframe class= "circle-border" src="https://giphy.com/embed/5ZoMkoRrycZ9z02kko" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <h2>Database Administration</h2>
                    <p>Strong database administration skills with expertise in Oracle SQL and MySQL that allows me to efficiently design, and maintain databases, ensuring data integrity and performance</p>
                </div>
                <div id="soft-skill-four">
                    <iframe class= "circle-border" src="https://giphy.com/embed/u1WhXLjwgcXpHJBMRM" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <h2>Web Development</h2>
                    <p>Background in web development, with expertise in HTML, CSS, and JavaScript for front-end development, as well as experience with back-end technologies like Node.js and Python (Flask).</p>
                </div>
                <div id="soft-skill-five">
                    <iframe class= "circle-border" src="https://giphy.com/embed/tSWKblincRg7CaRqGe" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <h2>Coaching</h2>
                    <p>As an educator, I've had the privilege of guiding and mentoring students, helping them grasp complex concepts, develop problem-solving abilities, and foster a passion for computing.</p>
                </div>
            </div>
            <div>
                <h1 class="heading-format" class="hover-white">Soft Skills</h1>
            </div>
            <div id="soft-skills">
                <div id="skill-one">
                    <img src="/static/images/icons/communication_icon.png" alt="Communication Skill" width="100" height="100">
                    <h2>Communication</h2>
                    <p>My commitment to open, transparent, and constructive communication has played a pivotal role in my professional achievements</p>
                </div>
                <div id="skill-two">
                    <img src="/static/images/icons/orgnization_icon.png" alt="Orgnization Skill" width="100" height="100">
                    <h2>Organisation</h2>
                    <p> My organizational skills are cornerstone to my success Whether it's coordinating timelines, resources, or teams, I excel in creating order out of chaos</p>
                </div>
                <div id="skill-three">
                    <img src="/static/images/icons/problem_solving_icon.png" alt="Problem Solving Skill" width="100" height="100">
                    <h2>Problem Solving</h2>
                    <p> I approach challenges with a structured and analytical mindset, seeking innovative solutions and adapting to shifting circumstances</p>
                </div>
                <div id="skill-four">
                    <img src="/static/images/icons/attenetion_to_detail_icon.png" alt="Attention to Details Skill" width="100" height="100">
                    <h2>Attention to Detail</h2>
                    <p>My commitment to detail is not just about avoiding mistakes, it's about enhancing the quality of the final product, and it's a key aspect of my work ethic</p>
                </div>
                <div id="skill-five">
                    <img src="/static/images/icons/multitasking_icon.png" alt="Multitasking Skill" width="100" height="100">
                    <h2>Multitasking</h2>
                    <p> My abilities in multitasking involves collaborating with cross-functional teams, or adhering to deadlines, ensures the achievement of objectives</p>
                </div>
            </div>
        </div>

    </section>
    <!--end of skills section-->
    <!--projects section-->
    <section id="projects">
        <div>
            <h1 class="heading-format" class="hover-white">Projects</h1>
                <div class="project-container">
                    <img src="/static/images/main/rest_project.jpg" alt="Sizzle Resturant Project" width="22%">
                    <div>
                        <h2>Sizzle Resturant</h2>
                        <p>In this project, I had the opportunity <br> to design a restaurant website </p>
                        <a href="#">code repositories</a>
                    </div>
                </div>
                <div class="project-container">
                    <img src="/static/images/main/headphones_project.jpg" alt="Headphones Project" width="22%">
                    <div>
                        <h2>Headphones</h2>
                        <p>This project was an opportunity <br>to showcase my expertise in  web<br> design, and front-end development <br>user-friendly, and visually captivating <br>headphones website</p>
                        <a href="https://github.com/Yosra-Elkhalifa/headphones">code repositories</a>
                    </div>
                </div>
                <div class="project-container">
                    <img src="/static/images/main/smile_project.png" alt="Smile School Project" width="22%">
                    <div>
                        <h2>Smile School</h2>
                        <p>This project allowed me to blend <br> my web development and design skills <br> to design a school website</p>
                        <a href="https://github.com/Yosra-Elkhalifa/alx_html_css/blob/main/css_advanced/index.html">code repositories</a>
                    </div>
                </div>
        </div>

    </section>

    <!--end of projects section-->
    <!--contact section-->
    <section id="contact">
        <div>
            <h1 class="heading-format">Contact me</h1>
            <p id="contact-para">Ready to connect and collaborate? <br> Reach out to me through the form below, <br> and let's start the conversation.</p>
            <div>
                <form action="https://formspree.io/f/xbjvwypo" method="POST"  id="submitForm" onsubmit="return false">
                    <div>
                        <label for="name" class="required"> Name </label>
                        <input type="text" id="name" name="name" placeholder="Please Enter Your Name" required>
                    </div>
                    <div>
                        <label for="email" class="required">Email</label>
                        <input type="email" id="email" name="email" placeholder="Example@gmail.com" required>
                        <input type="hidden" id="smtp_username" name="smtp_username" value= {{smtp_username}} >
                    </div>
                    <div>
                        <label for="message" id="message-lable" class="required">Message</label>
                        <textarea name="message" id="message" cols="30" rows="5" placeholder="Please Add Your Message" required></textarea>
                    </div>
                    <div>
                        <p id="formValidationMsg"></p>
                    </div>
                    <div id="button-format">
                        <button type="submit" id="submit-button">Submit</button>
                    </div>
                </form>
            </div>

        </div>

    </section>

    <!--end of contact section-->
    <!--footer section-->
    <footer>
        <div>
            
            <div>
                <p>©Yosra_Elkhalifa2023</p>
            </div>

        </div>
    </footer>

    <!--end of footer section-->

    <script src="/static/JS/index.js"></script>
    
</body>
</html>